* {
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #111;
    color: #ccc;
    text-align: center;
}

h1 {
    color: #ff6666;
    font-size: 40px;
}

#descrizione {
    font-size: 18px;
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
    border: 1px solid white;
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;
    text-align: left;
}

#bestemmia {
    margin: 40px 0;
    font-size: 32px;
    font-weight: bold;
    color: #00ffff;
}

button {
    font-weight: bold;
    background: #ff6666;
    border: 0;
    padding: 15px 30px;
    color: white;
    font-size: 19px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background: #ff3333;
}

a {
    color: #ccc;
}

#shareButtons {
    margin: 50px auto;
}

#whatsAppButton {
    background: #22c55e;
    margin: 10px;
}

#whatsAppButton:hover {
    background: #1ca74f;
}

#whatsAppButton a {
    text-decoration: none;
    color: white;
}

#telegramButton {
    background: #0088cc;
    margin: 10px;
}

#telegramButton:hover {
    background: #0072ac;
}

#telegramButton a {
    text-decoration: none;
    color: white;
}